body {
    font-family: "helvetica", sans-serif;
    list-style-type: none;
    background-color: lightgrey;
}

.logo {
    width: 8em;
    margin: 10px 0 0 10px;
}

header {
    background-color: white;
    border-radius: 0.5em;
}

article {
    display: inline-flex;
    margin: 0 0 1em 0;
}

h2 {
    font-size: 18px;
    padding-left: 1em;
}

h3 {
    margin-left: 1em;
}

p {
    font-size: 1em;
    padding-left: 1em;
}

.woning {
    width: 20em;
    height: 13em;
    margin: 1em;
    border-radius: 0.5em;
}

button {
    background-color: transparent;
    border: none;
    margin: 0 0 0 -15em;
    transition: transform 0.4s;
}

button img:last-of-type:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.4s;
    box-shadow: 0 .3em 1em 0 rgba(0, 0, 0, 0.24), 0 1em 100em 0 rgba(0, 0, 0, 0.19);
}

button img:last-of-type:active {
    transform: translateY(.0001em);
}

.pijl {
    padding: 0.4em;
    width: 1.5em;
    background-color: lightgoldenrodyellow;
    border-radius: 100%;
}

div {
    display: none;
    animation-name: mooi;
}

@keyframes mooi {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.drop {
    display: block;
    animation-name: mooi;
    animation-duration: 2.5s;
}
