.carousel {
    max-width: 1000px;
}

.vorige, .volgende {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -10em;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0.5em;
}

.volgende {
    right: 0;
}

.bolletjes {
    text-align: center;
    margin-top: 30em;
}

.bol1, .bol2, .bol3 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: darkcyan;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: darkgray;
}

img {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transition: all .5s;
}

.foto2, .foto3 {
    opacity: 0;
}

.show {
    opacity: 100;
}

.hide {
    opacity: 0;
}
